@model List<MVC_Project.Models.User>
@{
    ViewData["Title"] = "Home Page - All Users";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="display-6 mb-3">Home Page</h1>
        </div>
    </div>
</div>
